/*-------------------------
	Simple reset
--------------------------*/



*{
	margin:0;
	padding:0;
}



/*-------------------------
	General Styles
--------------------------*/



html{
	min-height:100%;
	position:relative;
	
}

body{
	color:#111;
	min-height:600px;
	font:14px/1.3 'Helvetica',Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}


header {
	margin: 15em 0 0 0;
	width: 250px;
	float: right;
}

h1 {
	font-size: 1.2em;
}


/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox{
/*	background:#118;*/
	color:#fff;
/*	border-radius:3px;*/
	position: relative;
	margin: 0 auto;
	text-align:center;
	min-height: 460px;
/*	overflow: hidden;*/
/*	padding-bottom: 40px;*/
    width: 320px;	
/*	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);*/
}

#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:210px;
    display: block;
position: absolute;
width: 100%;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

/*#dropbox:before{
	border-radius:3px 3px 0 0;
}*/


div#container {
	margin: 0 auto;
	width: 70%;
}

/*-------------------------
	Image Previews
--------------------------*/

div#iphone-frame {
	background: url('../img/iPhone.png');
	background-size: 100%;
	height: 868px;
	height: 715px;
	width: 403px;
	margin: 3em auto 0;
	padding-top: 153px;
	
/*	padding-top: 130px;
	height: 608px;
	width: 343px;*/
}



#dropbox .preview{
	width:320px;
	height: 460px;
	
/*	width: 272px;
	height:391px;*/
/*	float:left;*/
	position: absolute;
/*	text-align: center;
*//*	margin-left: -300px;*/
	display: block;
}

#dropbox .preview img{
	max-width: 320px;
	max-height:460px;
/*	border:3px solid #fff;
*/	display: block;
	
/*	box-shadow:0 0 2px #000;
*/}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .imageHolder img {
		opacity: .25;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: #909;
	display: none;
}

/*#dropbox .preview.done .uploaded{
	display: block;
}*/

/* move the ui */
#dropbox .preview.done {
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done:nth-child(2){ margin-left: -410px; }
#dropbox .preview.done:nth-child(3){ margin-left: -290px; }
#dropbox .preview.done:nth-child(4){ margin-left: -170px; }

#dropbox .preview.done:nth-child(5){ margin-left: -410px; margin-top: 161px; }
#dropbox .preview.done:nth-child(6){ margin-left: -290px; margin-top: 161px; }
#dropbox .preview.done:nth-child(7){ margin-left: -170px; margin-top: 161px; }

#dropbox .preview.done:nth-child(8){ margin-left: -410px; margin-top: 322px; }
#dropbox .preview.done:nth-child(9){ margin-left: -290px; margin-top: 322px; }
#dropbox .preview.done:nth-child(10){ margin-left: -170px; margin-top: 322px; }

#dropbox .preview.done,
#dropbox .preview.done img {
	width: 96px;
	height: 138px;
	opacity: 1;
	
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
	
	
}

#dropbox .preview.done .progressHolder {
	display: none;
}


/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: relative;
	background-color:#252f38;
	height:16px;
	width:50%;
	margin: 0 auto;
	top: -238px;
	opacity: 1;

	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .progress,
#dropbox .progressHolder {
	border-radius: 10px;
}

#dropbox .preview.done .progress{
	width:100% !important;
}


/* iPhone styles */

body.iPhone { overflow: auto; }

div#overlay {
	position: absolute;
	width: 100%;
	font-size: 2em;
}

div#overlay nav {
	width: 640px;
}

div#meta {
	background: #901;
	width: 640px;
	height: 120px;
	display: block;
	clear: both;
}

a#overlay-previous,
a#overlay-next {
	height: 800px;
	display: block;
	background:#918;
	position: relative;
}

a#overlay-previous {
	float: left;
	width: 140px;
}
a#overlay-next {
	float: right;
	width: 500px;
}

p#iphone-time {
	color:#ddd;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin-top: -17px;
}
